{% extends master.master %}
{% block title %}{{ data.Local.Page.Title }}{% endblock %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <div class="row">
      
      <h2 class="page-title span12">{{ data.Local.Page.Title }}</h2>
      
      <!-- CONTENT -->
      <section id="content" class="span12">

          <div class="body-content">
              {% if data.Local.Page.HasImage %}
              <img class="thumbnail" src="{% Url Page, Image, id: data.Local.Page.Id, w: 1024 %}"/>
              {% endif %}
              {{ data.Local.Page.Description }}
          </div>
        
      </section>
      <!-- END CONTENT -->

      
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
{% endblock %}