{% extends master.master %}
{% block title %}{% if data.Local.Resource != null %} {{ data.Local.Resource.Name }} | {% endif %}{% T Events and bookings %} | {{ data.Business.Name }}{% endblock %}
{% block content %}

{% assign showMemberDetails = data.Setting_Calendars_ShowMemberDetailsInFeed %}
{% assign defaultView = data.Setting_Calendars_DefaultView %}
{% assign resourceInAgendaView = 6 %}
{% if defaultView == 1 and data.Resources.size > resourceInAgendaView %}{% assign defaultView = 'timelineDay' %}{% endif %}
{% if defaultView == 1 and data.Resources.size <= resourceInAgendaView %}{% assign defaultView = 'agendaDay' %}{% endif %}
{% if defaultView == 2 %}{% assign defaultView = 'agendaWeek' %}{% endif %}
{% if defaultView == 3 %}{% assign defaultView = 'month' %}{% endif %}
{% if defaultView == 4 %}{% assign defaultView = 'list' %}{% endif %}
{% if data.Local.ShowAll == false %}{% assign defaultView = 'list' %}{% endif %}
{% if data.Local.OnlyEvents == true %}{% assign defaultView = 'month' %}{% endif %}

{% assign qsView = data.QueryString["view"] %}
{% if qsView != null %}{% assign defaultView = qsView %}{% endif %}



<div id="wrapper">
    <!-- CONTAINER -->
    <div id="main" class="container">
        <!-- BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>

            {% if data.Local.Resource == null %}
            {% if data.Local.ShowAll == false %}
            <li><a href="{% Url Bookings, Calendar %}">{% T Events and bookings %}</a> <span class="divider">/</span></li>
            <li class="active">{% T My Bookings %}</li>
            {% else %}
            <li class="active">{% T Events and bookings %}</li>
            {% endif %}
            {% else %}
            <li><a href="{% Url Bookings, Calendar %}">{% T Events and bookings %}</a> <span class="divider">/</span></li>
            {% if data.Local.ShowAll == false %}
            <li><a href="{% Url Bookings, Calendar, showAll: false %}">{% T My Bookings %}</a> <span class="divider">/</span></li>
            {% endif %}
            <li class="active">{{ data.Local.Resource.Name }}</li>
            {% endif %}

        </ul>
        <!-- END BREADCRUMB -->
        <div class="row">

            <!-- CONTENT -->
            <section id="content" class="span12">
                {% if data.Resources.size > 0 %}
                <div class="navbar hidden-phone hide booking-toolbar">
                    <div class="navbar-inner">
                        <div class="container" style="width: auto; padding: 0 20px;">
                            <ul class="nav">
                                <li class="{% if data.Local.Group == null and data.Local.Resource == null %}active{% endif %}"><a data-url="{% Url Bookings, Calendar %}" href="{% Url Bookings, Calendar %}">{% T Calendar %}</a></li>
                                <li><a data-url="{% Url Bookings, Search %}" href="{% Url Bookings, Search %}">{% T Search %}</a></li>
                                {% if data.Local.Resource != null %}
                                <li class="active"><a href="#">{{ data.Local.Resource.Name }}</a></li>
                                {% else %}
                                {% for group in data.ResourceGroups %}
                                {% assign groupKey = group | Clean %}
                                <li class="{% if data.Local.Group == groupKey %}active{% endif %}"><a data-url="{% Url Bookings, Calendar, group: groupKey, showAll: data.Local.ShowAll  %}" href="{% Url Bookings, Calendar, type: groupKey, showAll: data.Local.ShowAll  %}">{{ group }}</a></li>
                                {% endfor %}
                                {% endif %}

                            </ul>

                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if data.Local.Resource != null %}
                                        {{ data.Local.Resource.Name | TruncateWords: 3 }}
                                        {% else %}
                                        {% T Resources %}
                                        {% endif %}
                                        <b class="caret" style="margin-top: 8px"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% Url Bookings, Calendar %}">{% T Show all resources %}</a></li>
                                        {% for resource in data.Resources %}
                                        <li class="{% if data.Local.Resource.Id == resource.Id %}active{% endif %}"><a data-url="{% Url Bookings, Calendar, ResourceId: resource.Id, showAll: data.Local.ShowAll %}" href="{% Url Bookings, Calendar, ResourceId: resource.Id, showAll: data.Local.ShowAll %}">{{ resource.Name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="divider-vertical"></li>
                                <li>
                                    {% if data.Coworker != null or data.Setting_Bookings_EnableGuestBookings %}
                                    <a href="#" onclick="createBooking(new Date())"><strong>{% T Make a booking %}</strong></a>
                                    {% else %}
                                    <a href="{% Url Login, Index, lang: data.Language %}&returnUrl={% Url Bookings, Calendar %}">{% T Log in %}</a>
                                    {% endif %}
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="progress progress-striped active loading-bar" style="margin: 10px 0 31px 0">
                    <div class="bar" style="width: 100%;">{% T Please wait... %}</div>
                </div>
                <div id="calendar" class="well"></div>
                <div class="row">
                    <div class="span9">
                        <span>{% T Legend %}:</span><br />
                        <a href="{% Url Bookings, Calendar, showAll: false %}"><span class="label" style="background: black">{% T Your bookings %}</span></a>
                        <a href="{% Url Bookings, Calendar, showAll: false %}"><span class="label" style="background: #484848">{% T Your team %}</span></a>


                        <span class="label" style="background: #a1a1a1">{% T Events %}</span>
                        <br />
                        {% for resource in data.Resources %}
                        <a data-url="{% Url Bookings, Calendar, resourceId: resource.Id, showAll: data.Local.ShowAll %}" href="{% Url Bookings, Calendar, resourceId: resource.Id, showAll: data.Local.ShowAll %}"><span class="label resource" id="legend-resource-{{ resource.Id }}" style="background: lightgray">{{ resource.Name }}</span></a>
                        {% endfor %}
                    </div>
                    {% if data.Resources.size > 0 %}
                    <div class="span3">
                        {% if data.Coworker != null or data.Setting_Bookings_EnableGuestBookings %}
                        <a onclick="createBooking(new Date())" class="btn btn-orange pull-right">{% T Make a booking %}</a>
                        {% else %}
                        <a class="btn btn-orange pull-right" href="{% Url Login, Index, lang: data.Language %}&returnUrl=/{{ data.Language }}/bookings">{% T Login to make a booking %}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

            </section>
            <!-- END CONTENT -->
        </div>
    </div>
    <!-- END CONTAINER -->
    {% include booking.htm %}
</div>

{% endblock %}
{% block script %}

<script>
    {% for resource in data.Resources %}
    $('#legend-resource-{{ resource.Id }}').css('background-color', getColurFromName('{{ resource.Name | Replace: "'", "\'" }}'));
    {% endfor %}
    $('#modal_unpaidbooking').modal();
    $('#Booking_Resource').prepend('<option></option>');

    var vm;
    var originalToDate;
    var originalFromDate;
    var fc = $('#calendar').fullCalendar({
        schedulerLicenseKey: '0011856468-fcs-1444557994',
        lang: '{{ data.Language }}',
        allDaySlot: false,
      	scrollTime: '06:00',
      	minTime:'06:00',
        aspectRatio: 1.8,
      	height: 'auto',
        firstDay: 1,
      	resourceLabelText: '{{ data.Business.Name | Replace: "'", "\'" }}',
      	resourceGroupField: 'groupName',
        editable: false,
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay, view, resourceObj) {
            var calendar = $('#calendar');
            if(resourceObj)
                $('#Booking_Resource').val(resourceObj.id);
            else
                $('#Booking_Resource').val(null);
            {% if data.Coworker != null %}
            createBooking(start.local().toDate(), end.local().toDate());
            {% elseif data.Setting_Bookings_EnableGuestBookings %}
            createBooking(start.local().toDate(), end.local().toDate());
            {% else %}
            showWarningMessage('{% T Login to make a booking %}');
            {% endif %}
            calendar.fullCalendar('unselect');
        },

     	viewRender: function (view) {
        	var date = view.intervalStart.format('YYYY-MM-DD');
          	$('a[data-url]').each(function(){
          	  var url = $(this).attr('data-url');
              $(this).attr('href', url + (url.indexOf('?') > -1 ? '&' : '?') +'date=' + date + '&view=' + view.name);
          	});
     	},
        loading: function( isLoading, view ) {
            if(isLoading) {
                $('.booking-toolbar').addClass('hide');
                $('.loading-bar').removeClass('hide');
            } else {
                $('.booking-toolbar').removeClass('hide');
                $('.loading-bar').addClass('hide');
            }
        },
        resources: [
          {% if data.Local.Resource == null %}
             {% for resource in data.Resources %}
             {% assign resourceGroupKey = resource.GroupName | Clean %}
             {% assign resourceGroupName = resource.GroupName %}
             {% if resourceGroupKey == '' %}
             {% assign resourceGroupKey = 'resources' %}
             {% assign resourceGroupName = 'Resources' %}
             {% endif %}
             {% if data.Local.Group == resourceGroupKey or data.Local.Group == null %}
             {'id':{{ resource.Id }}, 'groupName': '{% T resourceGroupName %}', 'title':'{{ resource.Name | Replace: "'", "\'" }}', eventColor: getColurFromName('{{ resource.Name | Replace: "'", "\'" }}')},
             {% endif %}
             {% endfor %}
             {% else %}
             {'id':{{ data.Local.Resource.Id }}, 'groupName': '{% T resourceGroupName %}', 'title':'{{ data.Local.Resource.Name | Replace: "'", "\'" }}', eventColor: getColurFromName('{{ data.Local.Resource.Name | Replace: "'", "\'" }}')}
             {% endif %}
        ],
        eventClick: function(calEvent, jsEvent, view) {
            if(calEvent.url)
                window.location = calEvent.url;
            else if(calEvent.private) {
                showWarningMessage("{% T This is a booking made by another member of {0} ||  data.Business.Name %}");
                return false;
            }
            else
            {
                showBooking(calEvent);
                return false;
            }
        },
        dayClick: function(date, evData, jsEvent, resourceObj ) {
            if(resourceObj)
                $('#Booking_Resource').val(resourceObj.id);
            else
                $('#Booking_Resource').val(null);
            {% if data.Coworker != null %}
            createBooking(date.local().toDate());
            {% elseif data.Setting_Bookings_EnableGuestBookings %}
            createBooking(date.local().toDate());
            {% else %}
            showWarningMessage('{% T Login to make a booking %}');
            {% endif %}
        },
        defaultView: $(window).width() < 768 ? 'list' : '{% if data.Local.Resource.Id > 0 %}agendaDay{% else %}{{defaultView}}{% endif %}',
        displayEventEnd: true,
        defaultDate: moment('{{ data.Local.CurrentDate | FormatDate: 'yyyy-MM-dd' }}'),
        header: {
            left:   $(window).width() >= 768 ? 'title' : null,
            center: $(window).width() < 768 ? 'list' : 'month,agendaWeek,{% if data.Local.Resource.Id > 0 or data.Resources.size <= resourceInAgendaView %}agendaDay{% else %}timelineDay{% endif %},list',
            right:  'today prev,next'
        },
        eventRender: function (event, element) {
            var color = 'black';
            if(event.teamBooking) color = '#484848';
            if(event.url) color = '#a1a1a1';
            if(event.private) color = getColurFromName(event.resourceName);

            element.css('background-color', color);
            element.css('border-color', color);

            if(event.coworkerFullName){
                element.find('.fc-title').html(element.find('.fc-title').text() + ' - ' + event.coworkerFullName);
                $(element).tooltip({title:event.coworkerFullName, container: "body"});
            }
            element.find('.fc-title').html(element.find('.fc-title').text());
        },
        resourceRender: function(resourceObj, dataTds, eventTd) {
          {% for resource in data.Resources %}
          {% if resource.HasImage %}
            if(resourceObj.id == {{ resource.Id }}){
              dataTds.find('.fc-cell-text').prepend('<img data-toggle="lightbox" href="#resource-image-{{resource.Id}}"  style="cursor: pointer; display: inline; margin-right: 10px; border: 1px solid rgb(51, 51, 51)" src="{% Url PublicResources, GetImage, id: resource.Id, h: 20, w: 20 %}" />');
              $('#calendar').append('<div id="resource-image-{{resource.Id}}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true"><div class="lightbox-content"><img src="{% Url PublicResources, GetImage, id: resource.Id, h: 600, w: 800 %}"/><div class="lightbox-caption"><p>{{ resource.Name }}</p></div></div></div>');
            }
          {% endif %}
          {% endfor %}

        },
        eventSources: [
            {% if data.Local.OnlyEvents == false %}
            {
                url: '{% Url Bookings, FullCalendarBookings %}',
                type: 'POST',
                data: {
                    showAllBookings: '{{ data.Local.ShowAllBookings }}',
                    {% if data.Local.Resource != null %}
                    resourceId: '{{data.Local.Resource.Id}}',
                    {% endif %}
                    {% if data.Local.SelectedResourceType != null %}
                    resourceTypeId: '{{data.Local.SelectedResourceType.Id}}',
                    {% endif %}
                    {% if data.Local.Group != null %}
                    group: '{{data.Local.Group}}',
                    {% endif %}
                    showAll: '{{ data.Local.ShowAll }}'
                },
                error: function() {
                    showMessage('We could not load the booking calendar');
                },
            },
            {% endif %}
            {
                url: '{% Url Bookings, FullCalendarEvents %}',
                type: 'POST',
                data: {
                    showAllBookings: '{{ data.Local.ShowAllBookings }}',
                    showMemberDetails: '{{ showMemberDetails }}',
                },
                color: '#c0392b',
                error: function() {
                    showMessage('We could not load the events calendar');
                },
            },
        ]
    });

    $(function () {

        var coeff = 1000 * 60 * 15;

        //Resource filter
        $('#resource-filter').change(function(){
            var resourceId = $(this).val();
            window.location = '{% Url Bookings, Calendar %}?showAll={{data.Local.ShowAll}}&resourceid=' + resourceId;
        });

        //Initialize timepickers
        $("#Booking_From").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true, startView: 1 });
        $("#Booking_To").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true, startView: 1 });

        $("#Booking_From input").attr('readonly','readonly');
        $("#Booking_To input").attr('readonly','readonly');

        //If todate is > from date, move to date ahead
        $('#Booking_From').on('changeDate', function(ev){
            var fromDate = $('#Booking_From').datetimepicker('getDate');
            var toDate = $('#Booking_To').datetimepicker('getDate');

            //Round the date
            fromDate = new Date(Math.round(fromDate.getTime() / coeff) * coeff);
            $('#Booking_From').datetimepicker('setDate', fromDate);

            var diffInMinutes = moment.duration(moment(originalToDate).diff(originalFromDate)).asMinutes();

            if(diffInMinutes < 60) diffInMinutes = 60;

            var later = moment(fromDate).add(diffInMinutes, 'minutes').toDate();
            $('#Booking_To').datetimepicker('setDate',later);

            originalFromDate = fromDate;
            originalToDate = later;

          	updateDP();
            checkBooking();

        });

        //If todate is > from date, move from date back
        $('#Booking_To').on('changeDate', function(){
            var fromDate = $('#Booking_From').datetimepicker('getDate');
            var toDate = $('#Booking_To').datetimepicker('getDate');

            //Round the date
            toDate = new Date(Math.round(toDate.getTime() / coeff) * coeff);
            $('#Booking_To').datetimepicker('setDate',toDate);

            if(fromDate > toDate){
                $('#Booking_From').datetimepicker('setDate',toDate);
            }

            originalFromDate = fromDate;
            originalToDate = toDate;

            checkBooking();
        });

        $('#modal_booking form').on("submit", function(event) {
            var id = $('#booking_id').val();
            var url;
            if(id > 0)
                url = '{% Url Bookings, BookingJson %}';
            else
                url = '{% Url Bookings, NewBookingJson %}';

            var fromDateFormatted = moment($('#Booking_From').datetimepicker('getDate')).format('YYYY-MM-DD');
            var data = getBookingData();
            postAndClose(url, data, function(){ window.location = '{% Url Bookings, Calendar %}?type={{ type }}&date=' + fromDateFormatted; });
            event.preventDefault();
        });

        $('#delete-button').click(function () {
            if (confirm('{% T Cancel this booking? %}'))
            {
                var url = '{% Url Bookings, DeleteJson %}';
                var id = $('#booking_id').val();
                var fromDateFormatted = moment($('#Booking_From').datetimepicker('getDate')).format('YYYY-MM-DD');
                postAndClose(url, {id: id}, function(){ window.location = '{% Url Bookings, Calendar %}?date=' + fromDateFormatted; });
            }
            return false;
        });

        $('#Booking_Resource').attr('data-bind','event: { change: updateProducts }');

        var loadProducts = function(){
            var bid = $('#booking_id').val();
            var rid = $('#Booking_Resource').val();
            if(bid && bid > 0 && rid && rid > 0)
                return $.post('/en/bookings/GetResourceProducts?bookingId=' + bid + '&resourceId=' + rid);
            else
                return $.post('/en/bookings/GetResourceProducts?resourceId=' + $('#Booking_Resource').val());
        }

        var loadVisitors = function() {
            var bid = $('#booking_id').val();
            if(bid && bid > 0)
                return $.post('/en/bookings/GetBookingVisitors?bookingId=' + bid);
            else
                return [];
        }

        var mapData = function(data){
            vm.bookingProducts = ko.mapping.fromJS(data);
        }
        var updateData = function(data){
            return vm.bookingProducts = ko.mapping.fromJS(data, vm.bookingProducts);
        }

        var mapVisitorData = function(data){
            vm.bookingVisitors = ko.mapping.fromJS(data);
        }
        var updateVisitorData = function(data){
            vm.bookingVisitors = ko.mapping.fromJS(data, vm.bookingVisitors);
        }

        var addVisitor = function(){
            vm.bookingVisitors.push({
                    Id: null,
                    Email: null,
                    FullName: null
            });
        }

        var removeVisitor = function(visitor){
            vm.bookingVisitors.remove(visitor);
        }
        var clearVisitors = function(){
            vm.bookingVisitors([]);
        }

        var applyBindings = function() {
            ko.applyBindings(vm);
        }
        var updateVisitors = function(){
            $.when(loadVisitors())
             .then(updateVisitorData)
        }
        var updateProducts = function(){
            $.when(loadProducts())
             .then(updateData)
             .then(checkBooking);
        }
        vm = {
            bookingProducts: ko.observableArray(),
            updateProducts: updateProducts,
            checkBooking: checkBooking,
            updateVisitors: updateVisitors,
            addVisitor: addVisitor,
            removeVisitor: removeVisitor,
            clearVisitors: clearVisitors
        };

        $.when(loadProducts())
         .then(mapData)
         .then(loadVisitors)
         .then(mapVisitorData)
         .then(applyBindings);


     	//Shifts
     	$('#Booking_Resource').val({{ data.Local.Resource.Id }});
     	$('#Booking_Resource').change(showHideDP);
     	showHideDP();

    	$('#time_select').change(updateDP);

        //Discount box
        var checkBookingThrottled = _.debounce(checkBooking, 1000);
        $('#Booking_DiscountCode').keyup(checkBookingThrottled);
    });

    function updateDP(){
      var val = $('#time_select').val();
      if(!val) return;

      var h1 = val.split('|')[0].split(':')[0];
      var h2 = val.split('|')[1].split(':')[0];

      var m1 = val.split('|')[0].split(':')[1];
      var m2 = val.split('|')[1].split(':')[1];

      var start = $('#Booking_From').datetimepicker('getDate');
      start.setHours(h1);
      start.setMinutes(m1);

      $('#Booking_From').datetimepicker('setDate',start);
      var end = $('#Booking_To').datetimepicker('getDate');

      end.setDate(start.getDate());
      end.setHours(h2);
      end.setMinutes(m2);
      if(start > end)
        end = moment(end).add('days',1).toDate();

      $('#Booking_To').datetimepicker('setDate',end);

      checkBooking();
      getPrice();
    }

	 function showHideDP(){
       var rid = $('#Booking_Resource').val();
       if(false)
         var noop=true;
       {% for shift in data.Local.AllShifts %}
       else if(rid == {{ shift.ResourceId }})
         disableDP();
       {% endfor %}
       else
          enableDP();

        $('.resource-time').prop('disabled', true);
        $('.resource-' + rid).prop('disabled', false);
        $('.resource-time').hide();
        $('.resource-' + rid).show();

        if($("#time_select").length > 0)
          $("#time_select")[0].selectedIndex = $('.resource-' + rid).index();

        updateDP();
   }


   function disableDP(){

  		//Disable datapickers
        $('#Booking_To input').attr('readonly','readonly');
        $('#Booking_To input').attr('disabled','disabled');
        $('#Booking_To .add-on').hide();
        $('#Booking_To').removeClass('input-append');

        $('#time_select').closest('.row-fluid').show();

        $('#Booking_To').datetimepicker('remove');
        $('#Booking_From').datetimepicker('remove');
        $("#Booking_From").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true, startView: 2, minView: 2 });
        $("#Booking_To").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true, startView: 2, minView: 2 });
    }
    function enableDP(){

       $('#Booking_To').addClass('input-append');
       $('#Booking_To .add-on').show();
       $('#Booking_To .add-on').css('display', 'inline-block');

      $('#Booking_To').datetimepicker('remove');
      $('#Booking_From').datetimepicker('remove');
      $("#Booking_From").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true,  startView: 1 });
      $("#Booking_To").datetimepicker({ viewSelect: 'year', pickerPosition: 'bottom-left', language: '{{ data.Language }}', format: "dd MM yyyy - HH:ii P", minuteStep: 15, showMeridian: true, autoclose: true, todayBtn: true,  startView: 1 });
       $('#time_select').closest('.row-fluid').hide();
       checkBooking();
       getPrice();
    }

    function getColurFromName(name){
        var colors = [
            "#1abc9c",
            "#2ecc71",
            "#3498db",
            "#9b59b6",
            "#16a085",
            "#27ae60",
            "#2980b9",
            "#8e44ad",
            "#f1c40f",
            "#e67e22",
            "#e74c3c",
            "#f39c12",
            "#d35400",
            "#c0392b"
        ];
        // Generate a Hash for the String
        var hash = function(word) {
            var hash = 0;
            for (var i = 0; i < word.length; i++) {
                var charCode = word.charCodeAt(i);
                hash += charCode;
            }
            return hash;
        };

        var index = hash(name) % colors.length;
        return colors[index];
    }

</script>
{% endblock %}
